@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Coiny&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
/*global styling for css*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
    scroll-behavior: smooth;
}
/*hero section css*/
/*nav bar*/
header{
    background-color: rgb(30, 30, 41);
    position: sticky;
    top: 0;
    z-index: 10;
}
.menu{
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
    min-height: 9vh;
    ol{
        flex: 1 1 16rem;
        display: flex;
        gap: 3rem;
        list-style: none;
    }
    a{
        color: white;
        text-decoration: none;
        font-weight: 200;
        transition: all 0.8s ease;
    }
    a:hover{
        color: rgb(107, 107, 250);
        font-weight: 500;
    }
    .icon{
        display: flex;
        justify-content: end;
        flex: 1 1 16rem;
        gap: 1em;
        i{
            color: white;
            transition: all 0.8s ease;
            font-size: 1rem;
        }
        i:hover{
            transform: scale(1.04);
        }
    }
}
/*css styling for my hero page*/
#hero{
    width: 100%;
    background-image: url(../imagePort/hero.jpg);
    background-repeat: no-repeat;
    background-position: 0 0;
    min-height: 100vh;
    background-size: cover;
    padding: 2rem;
}
.text{
    width: 80%;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    min-height: 95vh;
    padding-left: 1.5rem;
    h1{
        font-size: 4rem;
    }
    button{
        background-color: transparent;
        padding: 0.5rem;
        color: white;
        width: 13rem;
        border-radius: 0.5rem;
        border: 1px white solid;
        transition: all 0.8s ease;
    }
    button:hover{
        background-color: rgba(255, 255, 255, 0.199);
        transform: scale(1.02);
    }
 }
.butt{
    display: flex;
    gap: 1rem;
}
/*media screen for mobile responsiveness*/
/*oppo a9*/
@media(max-width:400px){
    .menu{
        ol{
            display: flex;
            justify-content: space-between;
        }
        .icon{
            display: flex;
            justify-content: center;
        }
    }
    .text{
        text-align: center;
    }
}
/*samsung s20 ultra*/
@media(max-width:412px){
    .menu{
        ol{
            display: flex;
            justify-content: space-between;
        }
        .icon{
            display: flex;
            justify-content: center;
        }
    }
    .text{
        text-align: center;
    }
}
/*iphone xr*/
@media(max-width:420px){
    .menu{
        ol{
            display: flex;
            justify-content: space-between;
        }
        .icon{
            display: flex;
            justify-content: center;
        }
    }
    .text{
        text-align: center;
    }
}
@media(max-width:400px){
    .menu{
        ol{
            display: flex;
            justify-content: space-between;
        }
        .icon{
            display: flex;
            justify-content: center;
        }
    }
    .text{
        text-align: center;
    }
}
@media(max-width:540px){
    .menu{
        ol{
            display: flex;
            justify-content: space-between;
        }
        .icon{
            display: flex;
            justify-content: center;
        }
    }
    .text{
        text-align: center;
    }
}
@media(max-width:400px){
    .menu{
        ol{
            display: flex;
            justify-content: space-between;
        }
        .icon{
            display: flex;
            justify-content: center;
        }
    }
    .text{
        text-align: center;
    }
    /*media screen for z fold*/
}
@media(max-width:344px){
    .menu{
        ol{
            display: flex;
            justify-content: space-between;
        }
        .icon{
            display: flex;
            justify-content: center;
        }
    }
    .text{
        text-align: center;
    }
}
/*media screen for ipad*/
@media(max-width:768px){
    .menu{
        ol{
            display: flex;
            justify-content: space-between;
        }
        .icon{
            display: flex;
            justify-content: center;
        }
    }
    .text{
        text-align: center;
    }
 
}
#aboutSect{
    min-height: 100vh;
    background-color: black;
    padding: 2rem 0rem;
    width: 100%;
}
#about{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: auto;
    color: white;
    gap: 2rem;

}
.aboutImage{
    flex: 1 1 10rem;
    padding-left: 1rem;
    img{
        width: 16rem;
    }
}
.aboutText{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1 1 16rem;
}
.imageText{
    display: flex;
    align-items: center;
    width:80% ;
    margin: auto;
    flex-wrap: wrap;
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding-top: 2rem;
    h1{
        position: absolute;
        font-size: 4rem;
        letter-spacing: -0.2rem;
        color: rgba(255, 255, 255, 0.24);
        font-weight: bold;
    }
    h4{
        color: orangered;
        z-index: 2;
        letter-spacing: 0.4rem;
        font-weight: 900;
        
    }
}
.top{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    button{
        padding: 0.5rem;
        border-radius: 0.5rem;
        transition: all 0.8s ease;
    }
    button:hover{
        background-color:rgba(255, 255, 255, 0.199) ;
    }
    span{
        display: flex;
        gap: 1.5rem;
    }
}
.first{
    background-color: transparent;
    border: 1px white solid;
    color: white;
}
.butt1{
    border: transparent solid 1px;
}
.down{
    display: flex;
    gap: 1rem;
    min-height: 20vh;
    flex-wrap: wrap;
    div{
        display: flex;
        flex: 1 1 5rem;
        background-color:rgba(255, 255, 255, 0.034) ;
        justify-content: center;
        align-items: center;
        box-shadow: 2px 2px 2px rgba(255, 255, 255, 0.151);
        transition: all 0.8s ease;
        i{
            font-size: 3rem;
        }
    }
    div:hover{
        transform: scale(1.02);
    }
}
/*css styling for experience section*/
#skills{
    background-color:rgba(26, 18, 18, 0.459);
    min-height: 40vh;
}
.experience{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
    margin: auto;
    padding-bottom: 2rem;
}
/*css styling for bars*/
.bars{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    width: 50%;
    margin: auto;
    span{
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
    }
}
.mamaBar{
    background-color: white;    
    height: 0.4rem;
    border-radius: 4rem;
}
.colorbar{
    background-color:orangered;
    height: 100%;
    border-radius: 4rem;
}
.colorbar:hover{
    border-radius: 4rem 4rem 0rem 4rem;
}
.javas{
    width: 80%;
}
.htmlBro{
    width: 85%;
}
.cssMan{
    width: 50%;
}
.figma{
    width: 70%;
}
#myServices{
    background-color: black;
    min-height: 60vh;
    width: 100%;
    padding-bottom: 2rem;
}
.serve{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    color: orangered;
    gap: 2rem;
    button{
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid white;
    }
        button:hover{
        background-color:rgba(255, 255, 255, 0.199) ;
    }
}
.cards{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}
.card{
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    flex: 1 1 20rem;
    background-color: rgba(255, 255, 255, 0.055);
    box-shadow: 2px 2px 2px  rgba(255, 166, 0, 0.11);
    padding: 1rem;
    border-radius: 1rem;
    transition: all 1s ease;
    i{
        font-size: 1.3rem;
        background-color: rgba(255, 166, 0, 0.068);
        padding: 1rem;
        width: 20%;
        border-radius: 1rem;
    }
    h3{
        color: white;
    }
    p{
        width: 90%;
    }
}
.card:hover{
    transform: scale(1.03);
}
.buttAss{
    background-color: transparent;
    color: white;
    border: 1px solid white;
}
.buttson{
    display: flex;
    justify-content: center;
    gap: 1rem;
}


